
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@0;1&display=swap');


* {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #e6e3e3;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #212020;
}

input {
  border-width: 0 0 1px 0;
  margin: 10px;
  background-color: transparent;
}

th {
  color: #212020;
  font-weight: 100;
}

.to-do::placeholder, .date::placeholder, .time::placeholder {
  color: #e6e3e3;
}

.date::-webkit-calendar-picker-indicator {
  background-image: url("./assets/calendar--date.svg");
  
}

.time::-webkit-calendar-picker-indicator {
  background-image: url("./assets/time.svg");
}

.time-input::-webkit-calendar-picker-indicator {
  background-image: url("./assets/time.svg");
}

.date-input::-webkit-calendar-picker-indicator {
  background-image: url("./assets/calendar--date.svg");
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  background-color: #dad873;
  color: white;
  text-align: left;
}

th, td {
  padding: 10px;
}

.linethrough {
  background-position: left !important;
}

.todo-item, .date-input, .time-input {
  border: 0px;
  background-color: transparent;
  transition: 0.2s;
}

/* .active {
} */

button {
  background-color:transparent;
  border: 0px;
  font-size: 1.2rem;
}

/* .active.todo-item:focus, .active.date-input:focus, .active.time-input:focus {

  outline: -webkit-focus-ring-color auto 1px;
}

.todo-item:focus, .date-input:focus, .time-input:focus {
  outline: none
} */

.todo-cell {
  vertical-align: center;
}

.btns {
  vertical-align: center;
}

.list {
  width: 100%;
}


.form {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

.fas, .far {
  color: #989797;
  transition: 0.4s;
}

.todo-item {
 min-width: 100px;
 max-width: 200px;
 font-size: 13.333px;
 word-wrap: break-word;
 margin: 0;
 padding: 10px;
}

.date-time-cell:hover, .todo-item:hover {
  color: #fff;
}

.date-input::-webkit-calendar-picker-indicator {
   margin-left: 0
}

.date-input::-webkit-datetime-edit-month-field:focus, .date-input::-webkit-datetime-edit-day-field:focus, .date-input::-webkit-datetime-edit-year-field:focus, .date::-webkit-datetime-edit-month-field:focus, .date::-webkit-datetime-edit-day-field:focus, .date::-webkit-datetime-edit-year-field:focus {
  background: salmon;
}

.date-input::-webkit-datetime-edit-fields-wrapper, .time-input::-webkit-datetime-edit-fields-wrapper, .todo-item {
  transition: 0.2s;
}

.list-row.strikethrough .date-input::-webkit-datetime-edit-fields-wrapper, .list-row.strikethrough .time-input::-webkit-datetime-edit-fields-wrapper, .list-row.strikethrough .todo-item, .list-row.strikethrough .date-input, .list-row.strikethrough .time-input {
  text-decoration: line-through;
  color: rgb(184, 184, 184)
}

.time-input::-webkit-datetime-edit-hour-field:focus, .time::-webkit-datetime-edit-hour-field:focus, .time-input::-webkit-datetime-edit-minute-field:focus, .time::-webkit-datetime-edit-minute-field:focus {
  background: salmon;
}

.datetime-input-edit-wrapper:focus {
  background-color: salmon !important;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0);
  }
  15% {
    trasnform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
  
}
.done .fas{
  color: #2e8b57;
  animation: grow 0.5s ease-in-out;
}

td {
  width: auto;
}

@media (max-width: 565px) {
  thead {
    display: none;
  }
  td {
    display: flex;
    width: 100%;
    padding: 0;
  }
  td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
    height: auto;
    padding: 10px;
  }
  
  td:nth-child(3) {
    border-bottom: 1px solid #4d4b4b
  }

  .form {
    width: 100%;
    display: flex;
  }

  form {
    width: 100%;
  }

  .list {
    width: 90%;
    margin: 0 auto;
  }

  table {
    width: 100%;
  }

  input {
    margin: 0;
    padding: 10px;
    border-radius: 0;
  }
  .todo-item {
    min-width: 100px;
    max-width: 200px;
  }
}